*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-family: 'Prompt', sans-serif;
    font-weight: 500;
}

body {
    margin: 0 auto;
    padding: 0;
    max-width: 100%;
    max-height: 100vh;
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.calculator-container {
    position: absolute;
    top: 50vh;
    left: 50%;
    padding: 0.6em;
    transform: translate(-50%, -50%);
    width: 30em;
    border: 2px solid #b1b1b1;
    border-radius: 0.3em;
    background-color: whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media only screen 
and (min-device-width: 280px) 
and (max-device-width: 400px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
    :root {
        font-size: 9px;
    }

    .buttons-container {
        width: 90%;
        padding: 0;
    }
}

@media only screen 
and (min-device-width: 400px) 
and (max-device-width: 600px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
    :root {
        font-size: 12px;
    }

    .buttons-container {
        width: 82%;
        padding: 0;
    }
}

.display {
    padding: 0 0 0 0.3em;
    border: 1px solid #b1b1b1;
    border-radius: 0.4em;
    background-color: white;
    height: 12em;
    max-height: 30%;
    max-width: 100%;
    overflow: auto;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.display::-webkit-scrollbar {
    display: none;
}
  
/* Hide scrollbar for IE, Edge and Firefox */
.display {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

input {
    color: #01631f;
    font-size: 2em;
    letter-spacing: 0.2rem;
    caret-color: black;
}

.invalid {
    color: rgb(163, 0, 0)
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=text] {
    -moz-appearance: textfield;
    border: 0;
    outline: 0;
    align-self: center;
}

.buttons-container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 4em);
    grid-template-rows: 1fr 1fr 1fr 1fr;
    column-gap: 0.2em;
    row-gap: 0.2em;
    justify-content: center;
    justify-items: center;
    padding: 1em;
}

button {
    width: 100%;
    font-size: 2.2em;
    font-weight: 700;
    border: 0;
    padding: 0.3em;
    cursor: pointer;
    outline: none;
}

.num-button {
    background-color: #b1b1b1;
    color: rgb(56, 56, 56);
}

.num-button:hover {
    background-color: #cccccc;
}

.num-button:active {
    border: 1px solid rgb(39, 39, 39);
    padding: calc(0.3em - 1px);
}

.ctrl {
    background-color: #cccccc;
}

.ctrl:hover {
    background-color: #b1b1b1;
}

.ctrl:active {
    background-color: #cccccc;
}

.clear-button {
    color: rgb(163, 0, 0);
}

.equals-button {
    color: #09a037;
    grid-row: span 2;
}

.calculation {
    display: flex;
    justify-content: space-between;
    overflow: auto;
    border-bottom: 1px solid #cccccc;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.calculation::-webkit-scrollbar {
    display: none;
}
  
/* Hide scrollbar for IE, Edge and Firefox */
.calculation {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.calc-text {
    font-size: 1.3em;
    letter-spacing: 0.3rem;
    word-wrap: break-word;
    max-width: 90%;
}

.reuse {
    font-size: 1.8em;
    font-weight: 500;
    padding: 0.3em;
    cursor: pointer;
    color: #09a037;
    top: 0.9em;
    white-space: nowrap;
    overflow: hidden;
}
.reuse:active {
    color: #057928;
}

.material-symbols-outlined {
    font-size: 2.5em;
    font-weight: 400;
    background-color: #cccccc;
    width: 100%;
    padding: 0.3em;
    cursor: pointer;
    color: rgb(56, 56, 56);
}

.material-symbols-outlined {
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}

.material-symbols-outlined:hover {
    background-color: #b1b1b1;
}

.material-symbols-outlined:active {
    background-color: #cccccc;
}